.input{
    height: 50px;
    background: rgb(33, 35, 48);
    border: 2px solid rgb(41, 43, 54);
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    outline: none;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding-left: 25px;
}

.input:hover {
    border: 2px solid aqua;
}
